/.metadata/
/UCSP-SCI-PHYS/UCST-SCI-PHYS/nbproject/private/
/UCSP-SCI-PHYS/UCST-SCI-PHYS/build/
/UCSP-SCI-PHYS/UCST-SCI-PHYS/dist/
/UCSP-SCI-PHYS/UC-StudentToolkit/nbproject/private/
/UCSP-SCI-PHYS/UC-StudentToolkit/build/